        <a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}" class="thumbnail">
          <img ng-src="{{ place.image.contentUrl }}">
        </a>
        
        <h4><a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}">{{ place.name }}</a></h4>


        <span ng-repeat-start="(claimid, claim) in place.wikidata.claims"
          class="label label-default"
          title="{{ claim[0].mainsnak.datavalue.value }}">
          {{ claim[0].mainsnak.datatype }}
        </span>
        <span ng-repeat-end>&nbsp;</span>

        <json-formatter class="json-formatter-dark" json="place" open="0"></json-formatter>