<a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}" class="thumbnail">
  <img ng-if="place.image" ng-src="{{ place.image.contentUrl }}">
  <img ng-if=" ! place.image" ng-src="http://placehold.it/350x150">
</a>

<div class="inset">
  <p class="property">Place</p>
  <h2><a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}">{{ place.name }}</a></h2>

  <hr>

  <p class="property">Instance of</p>
  <h3><a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}">Museum</a></h3>

  <hr>

  <p class="property">Architectural Style</p>
  <h3><a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}">Greek Revival Architecture</a></h3>
  <h3><a ng-href="https://www.wikidata.org/wiki/{{ place.wikidata.title }}">Gothic Architecture</a></h3>
</div>