<div class="row">
<div class="col-sm-8">

  <div class="head">
    <h1>Graphing the City</h1>
    <h2>Extracting the DNA of the city as an identity graph</h2>
  </div>

  <form class="criteria">
    <div class="form-group">
      <label for="" class="control-label">City</label>
      <div class="input-group">
        <input type="text" class="form-control"
          placeholder="Choose a city…"
          required
          g-places-autocomplete
          force-selection="true"
          options="autocompleteOptions"
          ng-model="criteria().city">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"
            ng-disabled="form.$invalid"
            ng-click="saveCriteria(criteria())">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- .input-group -->
    </div> <!-- .form-group -->

    <hr>

    <div class="form-group">
      <label for="" class="control-label">Properties</label>
      <tags-input ng-model="criteria().properties"></tags-input>
    </div>

    <hr>
    <div class="form-group">
      <label class="control-label">Layout</label>
      <select class="form-control"
        ng-model="criteria().layout"
        ng-change="changeLayout()">
        <option>breadthfirst</option>
        <option>circle</option>
        <option>concentric</option>
        <option>cose</option>
        <option>cose-bilkent</option>
        <option>dagre</option>
        <option>grid</option>
        <option>spread</option>
      </select>
    </div>

    <p>Or, load stored data: <a ng-repeat="(key, name) in cities" ng-href="#/load/{{ key }}">{{ name }}<span ng-if=" ! $last">, </span></a></p>
  </form>

  <ng-include class="process" src="'img/process.svg'" ng-init="checkProgress = checkProgress"></ng-include>

  <div id="map-frame" style="display: none;">
    <div id="map" style="height: 100%"></div>
  </div>
</div> <!-- .col -->
</div> <!-- .row -->