<div class="container">

  <div class="head">
    <h1>Graphing the City</h1>
    <h2>Extracting the DNA of the city as an urban metadata graph</h2>
  </div>

  <form class="criteria">
    <div class="form-group">
      <label for="" class="control-label">City</label>
      <div class="input-group">
        <input type="text" class="form-control"
          placeholder="Choose a city…"
          required
          g-places-autocomplete
          force-selection="true"
          options="autocompleteOptions"
          ng-model="criteria().city">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"
            ng-disabled="form.$invalid"
            ng-click="saveCriteria(criteria())">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- .input-group -->
    </div> <!-- .form-group -->
  </form>

  <ng-include class="process" src="'img/process.svg'" ng-init="checkProgress = checkProgress"></ng-include>

  <div id="map-frame" style="display: none;">
    <div id="map" style="height: 100%"></div>
  </div>
</div> <!-- .container -->