<div class="fixed">
  <div id="cy"></div>
</div> <!-- .fixed -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="form-horizontal" name="form">
      <div class="form-group">
        <div class="col-sm-2">
          <a class="btn btn-primary"
            ng-click="export()"
            href="filesystem:http://localhost:1337/temporary/citygraph.json"
            download="citygraph.cyjs">Export to Cytoscape</a>
          <!-- <a class="btn btn-primary"
            ng-click="savePNG()"
            ng-href="{{ pngSrc }}"
            download="citygraph.png">Save PNG</a> -->
        </div>
        <label for="" class="col-sm-offset-4 col-sm-2 control-label">Layout</label>
        <div class="col-sm-4">
          <select class="form-control"
            ng-model="criteria().layout"
            ng-change="changeLayout()">
            <option>breadthfirst</option>
            <option>circle</option>
            <option>concentric</option>
            <option>cose</option>
            <option>cose-bilkent</option>
            <option>dagre</option>
            <option>grid</option>
            <option>spread</option>
          </select>
        </div>
      </div>
    </form>
  </div> <!-- .container -->
</nav>
