<div class="fixed">
  <div class="row">
    <div class="col-xs-3">
      <ng-include ng-if="showPlace" src="'views/card.html'"></ng-include>

      <div ng-if="showClaim">
          <a ng-href="https://www.wikidata.org/wiki/{{ claim.id }}" class="thumbnail">
            <img ng-if="claim.claims.P18" ng-src="{{ claim.claims.P18[0].mainsnak.datavalue.value }}">
            <img ng-if=" ! claim.claims.P18" ng-src="http://placehold.it/350x150">
        </a>

        <h4><a ng-href="https://www.wikidata.org/wiki/{{ claim.id }}">{{ claim.labels.en.value }}</a></h4>
        <p>{{ claim.descriptions.en.value }}</p>

        <json-formatter class="json-formatter-dark" json="claim" open="0"></json-formatter>

      </div>

      <div ng-if="showConnection">
        <h4>
          <a ng-href="https://www.wikidata.org/wiki/{{ connection.source.id }}">{{ connection.source.name }}</a>
          <div>connects by</div>
          <a ng-href="https://www.wikidata.org/wiki/Property:{{ connection.claim_id }}">{{ data().properties[connection.claim_id].labels.en.value }}</a>
          <div>to</div>
          <a ng-href="https://www.wikidata.org/wiki/{{ connection.target.id }}">{{ data().values[connection.target.id].labels.en.value }}</a>
      </div>


    </div>
    <div class="col-xs-9">
      <svg id="cy" width="600" height="600" viewBox="0 0 600 600"
      preserveAspectRatio="xMidYMid meet"></svg>
    </div>
  </div> <!-- .row -->
</div> <!-- .fixed -->