<div class="fixed">
  
  <div class="row" style="height: 100%">
    <div class="col-xs-3" style="height: 100%">
      <ng-include ng-if="showPlace" src="'views/card.html'"></ng-include>

      <div ng-if="showClaim">
          <a ng-href="https://www.wikidata.org/wiki/{{ claim.id }}" class="thumbnail">
            <img ng-if="claim.claims.P18" ng-src="{{ claim.claims.P18[0].mainsnak.datavalue.value }}">
            <img ng-if=" ! claim.claims.P18" ng-src="http://placehold.it/350x150">
        </a>

        <h4><a ng-href="https://www.wikidata.org/wiki/{{ claim.id }}">{{ claim.labels.en.value }}</a></h4>
        <p>{{ claim.descriptions.en.value }}</p>

        <json-formatter class="json-formatter-dark" json="claim" open="0"></json-formatter>

      </div>

      <div ng-if="showConnection">
        <h4>
          <a ng-href="https://www.wikidata.org/wiki/{{ connection.source }}">{{ connection.source }}</a>
          <div>connects by</div>
          <!-- @todo connection.source is an entity id, we want to know the label of the entity -->
          <a ng-href="https://www.wikidata.org/wiki/Property:{{ connection.claim_id }}">{{ data().properties[connection.claim_id].labels.en.value }}</a>
          <div>to</div>
          <a ng-href="https://www.wikidata.org/wiki/{{ connection.target }}">{{ data().values[connection.target].labels.en.value }}</a>

          <json-formatter class="json-formatter-dark" json="connection" open="0"></json-formatter>
      </div>


    </div>
    <div class="col-xs-9" style="height: 100%">
      <div id="cy"></div>
    </div>
  </div> <!-- .row -->
</div> <!-- .fixed -->






<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="form-horizontal" name="form">
      <div class="form-group">
        <div class="col-sm-2">
          <a class="btn btn-primary"
            ng-click="export()"
            href="filesystem:http://localhost:1337/temporary/citygraph.json"
            download="citygraph.cyjs">Export to Cytoscape</a>
          <!-- <a class="btn btn-primary"
            ng-click="savePNG()"
            ng-href="{{ pngSrc }}"
            download="citygraph.png">Save PNG</a> -->
        </div>
        <label for="" class="col-sm-offset-4 col-sm-2 control-label">Layout</label>
        <div class="col-sm-4">
          <select class="form-control"
            ng-model="criteria().layout"
            ng-change="changeLayout()">
            <option>breadthfirst</option>
            <option>circle</option>
            <option>concentric</option>
            <option>cose</option>
            <option>cose-bilkent</option>
            <option>dagre</option>
            <option>grid</option>
            <option>spread</option>
          </select>
        </div>
      </div>
    </form>
  </div> <!-- .container -->
</nav>