<form class="inset" ng-if=" ! navClass('#/criteria')">
  <div class="form-group">
    <label for="" class="control-label">City</label>
    <div class="input-group">
      <input type="text" class="form-control"
        placeholder="Choose a city…"
        required
        g-places-autocomplete
        force-selection="true"
        options="autocompleteOptions"
        ng-model="criteria().city">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary"
          ng-disabled="form.$invalid"
          ng-click="saveCriteria(criteria())">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
    </div><!-- .input-group -->
  </div> <!-- .form-group -->
</form>

<div class="inset form-placeholder" ng-if="navClass('#/criteria')">
  <p class="property"><a href="https://github.com/StudioLE/GraphingTheCity/releases">v{{ version.current }}</a></p>
</div> <!-- infobox('criteria') -->

<div class="inset">
  <ul class="nav nav-tabs">
    <li ng-repeat="link in nav" ng-class="navClass(link.url)" ng-if=" ! link.hide">
      <a href="{{link.url}}"><i class="fa" ng-class="link.icon"></i>
      <span>{{link.title}}</span></a>
    </li>
  </ul>
</div>

<div class="inset" ng-if="navClass('#/graph') && infobox().state == 'default'">

  <hr>

  <p class="property">Nodes</p>
  <h2>{{ data().count.nodes }}</h2>

  <hr>

  <p class="property">Connections</p>
  <h2>{{ data().count.connections }}</h2>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <p class="property">Places</p>
      <h3>{{ data().count.places }}</h3>
    </div>

    <div class="col-xs-6">
      <p class="property">Claims</p>
      <h3>{{ data().count.claims }}</h3>
    </div>
  </div> <!-- .row -->

  <hr>

  <p class="property">Export</p>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h3><a ng-click="exportJSON()">.json</a></h3>
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a ng-click="exportCYJS()">.cyjs</a></h3>
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a ng-click="exportPNG()">.png</a></h3>
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a ng-click="exportJPG()">.jpg</a></h3>
    </div>
  </div> <!-- .row -->
</div> <!-- infobox('default') -->

<div ng-if="infobox().state == 'place'">
  <a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.id }}" class="thumbnail">
    <img ng-if="infobox().content.claims.P18" ng-src="{{ wikimediaImage(infobox().content.claims.P18[0].mainsnak.datavalue.value) }}">
  </a>

  <div class="inset">
    <p class="property">Place</p>
    <h2><a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.id }}">{{ infobox().content.labels.en.value }}</a></h2>
    
    <div ng-if="infobox().content.sna">
    <hr>

    <p class="property">Direct Connections</p>
    <h3>{{ infobox().content.sna.connections }}</h3>

    <hr>

    <p class="property">Degree Centrality</p>
    <h3>{{ infobox().content.sna.degreeCentrality.toFixed(4) }}</h3>
    
    <hr>

    <p class="property">Closeness Centrality</p>
    <h3>{{ infobox().content.sna.closenessCentrality.toFixed(4) }}</h3>
    
    <hr>

    <p class="property">Betweenness Centrality</p>
    <h3>{{ infobox().content.sna.betweennessCentrality.toFixed(2) }}</h3>

    </div>

    <div ng-repeat="claim_prop_id in chosen_claims"
      ng-if="infobox().content.claims[claim_prop_id]">
      <hr>

      <p class="property">{{ entities()[claim_prop_id].labels.en.value ? entities()[claim_prop_id].labels.en.value : claim_prop_id }}</p>
      <h3 ng-repeat="claim in infobox().content.claims[claim_prop_id]"><a ng-href="https://www.wikidata.org/wiki/{{ claim.mainsnak.datavalue.value.id }}">{{ entities()[claim.mainsnak.datavalue.value.id].labels.en.value ? entities()[claim.mainsnak.datavalue.value.id].labels.en.value : claim.mainsnak.datavalue.value.id }}</a></h3>
    </div>
  </div>
</div> <!-- infobox('place') -->

<div ng-if="infobox().state == 'claim'">
  <a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.id }}" class="thumbnail">
    <img ng-if="infobox().content.claims.P18" ng-src="{{ wikimediaImage(infobox().content.claims.P18[0].mainsnak.datavalue.value) }}">
  </a>

  <div class="inset">
    <p class="property"><a ng-href="https://www.wikidata.org/wiki/Property:{{ infobox().content.property }}">{{ entities()[infobox().content.property].labels.en.value }}</p>
    <h2><a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.id }}">{{ infobox().content.labels.en.value }}</a></h2>

    <hr>

    <p class="property">Description</p>
    <h3>{{ infobox().content.descriptions.en.value }}</h3>
    
    <hr>

    <p class="property">Direct Connections</p>
    <h3>{{ infobox().content.sna.connections }}</h3>

    <hr>

    <p class="property">Degree Centrality</p>
    <h3>{{ infobox().content.sna.degreeCentrality.toFixed(4) }}</h3>
    
    <hr>

    <p class="property">Closeness Centrality</p>
    <h3>{{ infobox().content.sna.closenessCentrality.toFixed(4) }}</h3>
    
    <hr>

    <p class="property">Betweenness Centrality</p>
    <h3>{{ infobox().content.sna.betweennessCentrality.toFixed(2) }}</h3>
  </div>
</div> <!-- infobox('claim') -->

<div ng-if="infobox().state == 'connection'">
  <div class="inset">
    <p class="property">Place</p>
    <h3><a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.source }}">{{ entities()[infobox().content.source].labels.en.value }}</a></h3>

    <hr>
    
    <p class="property">Is Connected By</p>
    <h3><a ng-href="https://www.wikidata.org/wiki/Property:{{ infobox().content.claim_property }}">{{ entities()[infobox().content.claim_property].labels.en.value }}</a></h3>

    <hr>
    
    <p class="property">To Target</p>
    <h3><a ng-href="https://www.wikidata.org/wiki/{{ infobox().content.target }}">{{ entities()[infobox().content.target].labels.en.value }}</a></h3>
  </div>
</div> <!-- infobox('connection') -->

<div class="inset" ng-if="navClass('#/raw')">

  <hr>
  
  <p class="property">App Version</p>
  <h3>{{ version.current }}</h3>

  <hr>
  
  <p class="property">Data Version</p>
  <h3>{{ criteria().version }}</h3>

  <hr>
  
  <p class="property">Compatibility</p>
  <h3>{{ version.compatibility }}</h3>

  <hr>

  <p class="property">Storage Used</p>
  <h3>{{ storage().percent }}</h3>

  <hr>
  
  <p class="property">Storage Used</p>
  <h3>{{ storage().used }}</h3>
</div> <!-- infobox('raw') -->