<ul class="nav navbar-nav">
  <li ng-repeat="link in nav" ng-class="navClass(link.url)"><a ng-if="link.if || placeIsSet()" href="{{link.url}}"><span><i class="fa" ng-class="link.icon"></i></span> {{link.title}}</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li ng-class="navClass('#/raw')"><a ng-if="criteriaIsSet()" href="#/raw">
    <span><i class="fa fa-database"></i></span> Raw Data</a>
  </li>
  <li><a ng-if="placeIsSet()" ng-click="clearData()">
    <span><i class="fa fa-trash"></i></span> Clear Data</a>
  </li>
</ul>
