<div class="container-fluid">
  <div class="main">
    <div class="row">
      <div class="col-sm-4">
        <h1>Criteria</h1>
        <json-formatter class="json-formatter-dark" json="criteria()" open="1"></json-formatter>
      </div>
      <div class="col-sm-4">
        <h1>Places</h1>
        <json-formatter class="json-formatter-dark" json="places()" open="1"></json-formatter>
      </div>
      <div class="col-sm-4">
        <h1>Connections</h1>
        <json-formatter class="json-formatter-dark" json="connections()" open="1"></json-formatter>
      </div>
    </div>
  </div> <!-- .main -->
</div> <!-- .main --> 
