<div class="container-fluid">
  <div class="head">
    <h1>{{ data().count.places }} places of interest were found in {{ criteria().city.name }}</h1>

    <h2>From an initial data set of {{ data().count.knowledgegraph }} places, {{ data().count.wikidata }} were matched with structured data, {{ data().count.no_match }} could not be matched, {{ data().count.no_geo }} had no geolocation data and {{ data().count.out_of_bounds }} were out of bounds of our search area.</h2>
  </div>

  <p><span ng-repeat-start="(key, value) in criteria().types" ng-if="value"
    class="label label-default">{{ key }}</span> <span ng-repeat-end></span></p>

  <div class="row">
    <div ng-repeat-start="(key, place) in places()"
         class="col-xs-3">
      <ng-include src="'views/infobox.html'" ng-init="place = place"></ng-include>
    </div>
    <div ng-repeat-end ng-if="($index + 1) % 4 == 0" style="clear: both;"></div>
  </div>
</div>