@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/variables.less";

@font: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;

@bg: transparent;

@orange: #FF9800;

@link: #fff;
@link_hover: @orange;

/*****************************************************************
*
* Style defaults
*
******************************************************************/

html, body {
  height: 100%;
}

body {
  background: url(../img/norwich-b&w.jpg);
  background-position: center center;
  background-size: auto;
  color: #fff;
  font-family: @font;
}

#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
}

::selection {
  background: rgba(227, 80, 80, 0.5);
  color: #fff;
}

a {
  color: @link;
}

a:hover {
  color: @link_hover;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #fff;
  font-weight: 600; // Normal
  line-height: 1.2;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p.property {
  margin: 0;
  font-size: 20px;
  font-weight: 200; // Extra Light
  line-height: 1.2;
}

hr {
  margin: 10px 0;
}


/*****************************************************************
*
* Page
*
******************************************************************/

.fixed {
  // margin-top: 156px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#cy, #map, #graph {
  width: 100%;
  height: 100%;
}

#map {
  color: #000;
}

.head {
  margin-top: 75px;

  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700; // Bold
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 200; // Extra-light
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

/*****************************************************************
*
* Forms
*
******************************************************************/

.criteria {
  margin: 150px 0;
}

label {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 200; // Extra Light
  line-height: 1;
}

input.form-control {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 600; // Normal

  &:focus {
    border-color: inherit;
    outline: inherit;
    -webkit-box-shadow: inset 0 -1px 0 #fff;
    box-shadow: inset 0 -1px 0 #fff;
  }
}

.input-group-btn>.btn {
  padding: 0 10px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -1px 0 #fff;
  border-radius: 0;
  font-size: 24px;
  font-weight: 600; // Normal

  &:hover, &:focus {
    color: @orange;
  }
}

.pac-container {
  border-radius: 0;
  font-family: Arial, sans-serif;
}

.pac-item {
  padding: 7px 15px;
  color: #9d9c9c;
  font-size: 10px;
  // line-height: 40px;
}

.pac-item:hover {
    background-color: @orange;
    color: #fff;
}

.pac-item-selected, .pac-item-selected:hover {
    background-color: @orange;
    color: #fff;
}

.pac-item-query {
  color: #000;
  font-size: 14px;
}

.pac-container:after {
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-size: 120px 14px
}

.hdpi.pac-container:after {
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}

/*****************************************************************
*
* Process
*
******************************************************************/

.process {
  display: block;
  text-align: center;
}

.process svg {
  margin: 0 auto;
  max-width: 800px;
}


/*****************************************************************
*
* Graph
*
******************************************************************/

.infobox {
  margin-top: 25px;
}

.inset {
  margin: 15px;
}

.full-height {
  height: 100%;
}

.thumbnail {
  padding: 0;
  height: 250px;
  overflow: hidden;
  border: none;
  border-radius: 0;
}

.thumbnail a>img, .thumbnail>img {
  min-width: 100%;
}

/*****************************************************************
*
* Angular
*
******************************************************************/

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}